<!-- Start Home -->
<a class="scroll" id="home"></a>
<div class="home hero">
  <div class="overlay"></div>
  <div class="herowrapper">
    <h1>Best way for find a <b class="rotate color">shop,bank,gym</b> near you.</h1>
  </div>
  <a href="javascript:void(0);" class="scrolldown">
    <h3>More about us</h3>
    <div data-icon="&#xe017;" class="icon"></div>
  </a>
</div>
<!-- End Home -->

<h1>Maps facility</h1>
<p>Find by category:</p>
<select>
  <option value="suplementos">suplementos</option>
  <option value="lojas_desporto">lojas desporto</option>
  <option value="ginasios">ginasios</option>

</select>
<div id="some-div" data-no-turbolink>
<a href="/maps/dataset1" class="btn btn-pink">

  <h4>Go!</h4>
</a>

</div>